a:link, a:visited, a:hover, a:active {
    text-decoration: none; color:  #ff9933;
}

body {
    background-color: #dcdcdc;
}
.background {
    background-color: #dcdcdc;
}

.done {
    font-weight: bold;
    color: #47c515;
}

.finish {
    background-color: #d2d0d0;
}

.canvasCss {
    height:65vh;
}

.mainCss {
    background-color: #ffffff;
    border-style: none;
    padding-top: 30px;
}