html, body, .container {
    height: 100%;
}

body {
    padding-top: 50px;
}

.input-group {
    padding-top: 10px !important;
}

.logo {
    width: 300px;
    height: 100px;
}

h1.panel-title {
    font-size: 18px !important;
}

.panel-default > .panel-heading {
    background-color: rgba(165, 165, 165, 0.39) !important;
}